<div class="Admon-list">
    <h2>Listado de Administrativos</h2>

    <div class="header-container">
        <button class="btn-agregar" (click)="agregarAdmon()">Agregar Administrativo</button>
    </div>

    <table *ngIf="admon.length > 0; else noData">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Email</th>
                <th>Telefono</th>
                <th>Cargo</th>
                <th>Departamento</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let ad of admon">
                <td>{{ ad.id_Persona }}</td>
                <td>{{ ad.nombre }}</td>
                <td>{{ ad.apellido }}</td>
                <td>{{ ad.email }}</td>
                <td>{{ ad.telefono }}</td>
                <td>{{ ad.cargo }}</td>
                <td>{{ ad.departamento }}</td>
                <td>
                    <button class="btn-editar" (click)="editarAdmon(ad.id_Persona)">Editar</button>
                    <button class="btn-eliminar" (click)="eliminarAdmon(ad.id_Persona)">Eliminar</button>
                </td>
            </tr>
        </tbody>
    </table>

    <ng-template #noData>
        <p>No hay Admones registrados.</p>
    </ng-template>
</div>