<nav class="sidebar">
    <div class="sidebar-logo">
        <img src="https://angular.io/assets/images/logos/angular/angular.svg" alt="Angular Logo">
    </div>
    <ul>
        <li><a routerLink="/home" routerLinkActive="active">🏠 Home</a></li>
        <li><a routerLink="/student" routerLinkActive="active">🎓 Estudiante</a></li>
        <li><a routerLink="/profesor" routerLinkActive="active">📚 Profesor</a></li>
        <li><a routerLink="/admon" routerLinkActive="active">⚙️ Administración</a></li>
        <li><a routerLink="/curso" routerLinkActive="active">📓 Cursos</a></li>
        <li><a routerLink="/inscripcion" routerLinkActive="active">🖋️ Inscripciones</a></li>
        <li>
            <button class="logout-button" (click)="logout()">🚪 Logout</button>
        </li>
    </ul>
</nav>